.review {

  margin-top: 0px;
  height: 800px;
  width: 100%;
}

.review-card {
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 98%;
}

.review-form {
  justify-content: center;

  text-align: center;
  align-items: center;
  height: 5px;
  width: 100%;
}

.comment-box{
    height: 100px;
}

