x .ionicon {
  position: relative;
  transition-duration: 500ms;
}
.ionicon:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.container-card {
  position: relative;
  transition-duration: 500ms;
}
.container-card:hover {
  transform: scale(1.1);
}
.card-title {
  color: black;
  position: relative;
  transition-duration: 500ms;
}
.card-title:hover {
  cursor: pointer;
  transform: scale(1.035);
  color: #4299e1 !important;
}

.trail-image {
  height: 150px;
  width: 325px;
}

.bookmark {
  position: absolute;
  height: 32px;
  margin: 5px;

  top: 0;
  right: 0;

  fill: rgb(240, 240, 231);
}

.saved-bookmark {
  margin: 5px;

  position: absolute;
  height: 32px;
  top: 0;
  right: 0;

  cursor: pointer;
  opacity: 1;
  fill: rgb(66, 138, 19);
}

.card-title {
  cursor: pointer;
}
